/* ------------ Fonts -------------- */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ------------ Body --------------- */

/* ----------- Generals ------------ */
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #202020;
  box-sizing: border-box;
}
/* -------- Main wrapper ----------- */
div#main_wrapper {
  width: 98%;
  margin: 3px auto;
}

/* ------------ Header ------------- */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header div:last-child {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

header img {
  margin-top: 40px;
}
header ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 50px 35px 0 35px;
}
header nav ul li:hover {
  display: inline-block;
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
header nav ul li a {
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: none;
  color: #0065fc;
}
header div > a {
  text-decoration: none;
  color: #0065fc;
  padding: 50px 35px 0 35px;
  margin-right: 35px;
}

/* ------------ Rechercher ------------ */
form {
  margin: 30px 0 30px 0;
  border-collapse: collapse;
}
label {
  background-color: #e1e0e0;
  color: black;
  position: relative;
  left: 4px;
  top: 0px;
  border-radius: 10px 0 0 10px;
  padding: 10px 10px;
  margin-right: 0px;
}

input {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  line-height: 36px;
  border: 1px solid #e1e0e0;
  border-radius: 0 60px 60px 0;
}
#valide {
  position: relative;

  left: -20px;
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
  color: white;
  border: none;
  line-height: 38px;
}

/* ------------ Filtres ------------ */
span .fa-stack-1x {
  color: #0065fc;
}
span .fa-stack-2x {
  color: #deebff;
}
#Filtres {
  display: flex;
  flex-wrap: wrap;
}
.filtre span {
  position: relative;
  top: -1px;
  z-index: 1;
}
.filtre p {
  display: inline-block;
  border: 1px solid black;
  position: relative;
  text-transform: capitalize;
  z-index: 0;
  border: 1px solid #e1e0e0;
  left: -30px;
  padding: 3px 30px;
  line-height: 34px;
  border-radius: 0 50px 50px 0;
}

/* ------------ Logements ------------ */
/* Section */
#logements {
  display: flex;
}
/* Section gauche */
.left {
  width: 60%;
  height: 500px;
  border: 2px solid red;
  margin: 5px;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
}
[class^="card-"] {
  background-color: rgb(16, 105, 212);
  width: 30%;
  height: 45%;
  border-radius: 15px;
  box-shadow: 0px 2px 5px black;
  text-align: center;
}
/*
#hebergements {
  background-color: #f2f2f2f2;
  height: 625px;
  border-radius: 15px;
  padding: 15px;
}
.article {
  background-color: white;
  width: 245px;
  height: 200px;
  padding: 5px;
  border-radius: 15px;
}
.article:hover {
  box-shadow: 2px 2px 2px black;
}
.article img {
  border-radius: 15px 15px 0 0;
  width: 225px;
  height: 115px;
}
*/
/* section droite */
.rigth {
  width: 40%;
  height: 500px;
  border: 2px solid green;
  margin: 5px;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
[class^="right-card-"] {
  background-color: hotpink;
  widows: 100%;
  height: 33%;
  border-radius: 15px;
  box-shadow: 0px 2px 5px black;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.right-card-1 img {
  height: 100%;
  width: 150px;
  border-radius: 15px 0 0 15px;
}
.right-card-1 .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5px;
  overflow: hidden;
}

/* ------------ Section ------------ */

/* ------------ Section ------------ */

/* ------------ Footer -------------- */
footer {
  background-color: #f2f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer div {
  margin-bottom: 35px;
  margin-left: 10px;
}
footer h3 {
  font-weight: bold;
  padding: 30px 0 20px 0;
}
footer a {
  text-decoration: none;
  padding-bottom: 20px;
}
footer p {
  padding-bottom: 20px;
}
/* ------------ Media Queries -------------- */
/* ------------ Mobiles -------------- */
@media all and (max-width: 501px) {
  div#main_wrapper {
    width: 100%;
    margin: 0 auto;
  }
  header div:last-child {
    display: flex;
    flex-direction: column;
  }
  header div > a {
    order: -1;
  }
}
/*  Footer  */

/* ------------ Tablettes -------------- */
@media all and (min-width: 481px) and (max-width: 768px) {
  /* Vos règles CSS pour les mobiles ici */
}
