/* ------------ Fonts -------------- */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ------------ Body --------------- */
body {
  width: 100%;
  max-width: 1440px;
  /* border: 1px solid red; */
  margin: 0 auto;
}
/* ----------- Generals ------------ */
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: #202020;
  box-sizing: border-box;
}
h1 {
  font-size: 22px;
  margin: 30px 4px 5px 4px;
}
h2 {
  font-size: 26px;
  margin: 30px 0;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
a {
  text-decoration: none;
}
/* -------- Main wrapper ----------- */
div#main_wrapper {
  margin: 0px 50px;
  /* border: 1px solid blue; */
}

/* ------------ Header ------------- */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
header div:last-child {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

header img {
  margin-top: 42px;
  margin-left: 3px;
}
header ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 50px 35px 0 35px;
}
header nav ul li:hover {
  display: inline-block;
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
header nav ul li a {
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: none;
  color: #0065fc;
}
header div > a {
  text-decoration: none;
  color: #0065fc;
  padding: 50px 35px 0 35px;
  margin-right: 35px;
}

/* ------------ Rechercher ------------ */
form {
  margin: 25px 0 30px 0;
  border-collapse: collapse;
}
label {
  background-color: #e1e0e0;
  color: black;
  position: relative;
  left: 4px;
  top: -1px;
  border-radius: 10px 0 0 10px;
  padding: 16px 18px;
  margin-right: 0px;
}

input {
  padding-left: 15px;
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  margin-left: 0;
  line-height: 50px;
  border: 1px solid #e1e0e0;
  border-radius: 0 60px 60px 0;
}
#valide {
  position: relative;
  left: -30px;
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
  color: white;
  border: none;
  line-height: 50px;
}
#Filters p.homes {
  margin: 45px 0;
}

/* ------------ Filtres ------------ */
span .fa-stack-1x {
  color: #0065fc;
}
span .fa-stack-2x {
  color: #deebff;
}
#Filtres {
  display: flex;
  flex-wrap: wrap;
}
.filtre span {
  position: relative;
  top: -1px;
  z-index: 1;
}
.filtre p {
  display: inline-block;
  border: 1px solid black;
  position: relative;
  text-transform: capitalize;
  z-index: 0;
  border: 1px solid #e1e0e0;
  left: -30px;
  padding: 3px 30px;
  line-height: 35px;
  border-radius: 0 50px 50px 0;
}

/* -------------------- HOMES -------------------- */
#homes {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  min-height: 625px;
  /* border: 1px solid red; */
}
.card:hover {
  box-shadow: 2px 2px 2px black;
}

/* ------Section Hebergements --------*/
#hebergements {
  /* border: 1px solid violet; */
  width: 880px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #f2f2f2;
  border-radius: 30px;
}
/* -- Conteneur flex ---*/
.articlesContainer {
  /* border: 1px solid red; */
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
/* Paramétrage des cartes */
[class^="card"] {
  background-color: white;
  width: 30%;
  min-height: 200px;
  min-width: 230px;
  border-radius: 15px;
  box-shadow: 0px 2px 5px black;
  text-align: left;
  padding: 3px;
}
article.card img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 99%;
  height: 115px;
}
article.card a div.description {
  padding-left: 15px;
}
.star-on {
  color: #0065fc;
}
.star-off {
  color: #f2f2f2;
}
p.more {
  margin: 40px;
}
/* ------ section Popuplaires ---------*/
/* ------ section Popuplaires ---------*/
/* ------ section Popuplaires ---------*/
/* ------ section Popuplaires ---------*/
/* ------ section Popuplaires ---------*/
/* ------ section Popuplaires ---------*/
/* ------ section Popuplaires ---------*/
/* ------ section Popuplaires ---------*/

#populaires {
  /* border: 1px solid orange; */
  width: 420px;
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 40px 40px 40px 40px;
}
/* Titre section */
div.titlePop {
  /* border: 1px solid rgb(204, 52, 141); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* -----Conteneur flex ------- */
.populairesContainer {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-direction: column;
}
/* ----- Config Article ------- */
.article-flex {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 345px;
  height: 145px;
  border-radius: 15px;
  box-shadow: 0px 2px 5px black;
  padding: 5px;
}

section.populairesContainer div.article-flex img {
  object-fit: cover;
  height: 135px;
  width: 145px;
  border-radius: 15px 0 0 15px;
}
.populairesContainer div.article-flex  div.description {
  padding: 10px 0 10px 20px;
  display: flex;
  flex-direction: column;
  /* background-color: tomato; */
  width: auto;
  justify-content: center;
}
.populairesContainer div.article-flex  div.description div.descriptionTitle{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.populairesContainer div.article-flex  div.description div.descriptionStars{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* ---------------- Section Activités --------------- */
/* ---------------- Section Activités --------------- */
/* ---------------- Section Activités --------------- */
/* ---------------- Section Activités --------------- */
/* ---------------- Section Activités --------------- */
/* ---------------- Section Activités --------------- */
/* ---------------- Section Activités --------------- */
/* ---------------- Section Activités --------------- */
/* ---------------- Section Activités --------------- */
/* ---------------- Section Activités --------------- */

section {
  margin: 20px 0;
}
.bottom {
  width: 80%;
  height: 400px;
  border: 2px solid red;
  margin: 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

[class^="b-card-"] {
  box-sizing: border-box;
  background-color: rgb(15, 24, 200);
  width: 50px;
  height: 100%;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0px 2px 5px black;
  text-align: center;
  flex-grow: 1;
}
/* Card 2 */
div.b-card-2 {
  display: flex;
  flex-direction: column;
  background-color: initial;
  border: none;
  gap: 10px;
}
div.b-card-sub-1 {
  background-color: blueviolet;
  width: auto;
  flex: 3;
}
div.b-card-sub-2 {
  background-color: rgb(13, 197, 38);
  width: auto;
  flex: 2;
}

/* Card 4 */
div.b-card-5 {
  display: flex;
  flex-direction: column;
  background-color: initial;
  border: none;
  gap: 10px;
}
div.b-card-sub-5 {
  background-color: blueviolet;
  width: auto;
  flex: 2;
}
div.b-card-sub-6 {
  background-color: rgb(13, 197, 38);
  width: auto;
  flex: 3;
}

/* ------------ Footer -------------- */
footer {
  background-color: #f2f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer div {
  margin-bottom: 35px;
  margin-left: 10px;
}
footer h3 {
  padding: 30px 0 20px 0;
}
footer a {
  text-decoration: none;
  padding-bottom: 20px;
}
footer p {
  padding-bottom: 20px;
}
/* --------------------------- Media Queries -------------------- */
/* --------------------------- Media Queries -------------------- */
/* --------------------------- Media Queries -------------------- */
/* --------------------------- Media Queries -------------------- */

/* ------------ Mobiles -------------- */
@media all and (max-width: 501px) {
  div#main_wrapper {
    width: 100%;
    margin: 0 auto;
  }
  header div:last-child {
    display: flex;
    flex-direction: column;
  }
  header div > a {
    order: -1;
  }
}
/*  Footer  */

/* ------------ Tablettes -------------- */
@media all and (min-width: 481px) and (max-width: 768px) {
  /* Vos règles CSS pour les mobiles ici */
}
